![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [97]:
#Escribe el título del proyecto en Markdown
titulo = "Análisis y predicción del rendimiento financiero de una cadena de librerías (2019–2024)"

### TEMA

In [98]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Análisis y predicción del rendimiento financiero de una cadena de librerías"

### OBJETIVOS

Define aquí el objetivo del proyecto

## Objetivo general

Analizar y predecir el rendimiento financiero de una cadena de librerías mediante la integración de datos de ventas, flujo de caja y costes de personal.

## Objetivos específicos

### Análisis exploratorio de datos (EDA)

Analizar la evolución temporal de las ventas por tienda y canal, identificando patrones estacionales y el impacto del periodo COVID-19.

### Integración de datos

Integrar los distintos conjuntos de datos financieros (ventas, balance bancario y nóminas) a nivel mensual para construir una visión financiera unificada del negocio.

### Ingeniería de variables

Crear variables temporales y financieras (retardos, medias móviles, ratios de coste/ingresos) que ayuden a explicar y predecir el rendimiento económico.

### Modelado predictivo

Desarrollar y evaluar modelos de regresión para la predicción de ingresos o flujo de caja mensual.

### Interpretación y conclusiones de negocio

Interpretar los resultados de los modelos para identificar los principales factores que influyen en el rendimiento financiero y extraer conclusiones útiles desde el punto de vista del negocio.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [99]:
import pandas as pd

In [100]:
sales = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/bookstore_sales.csv")
sales2 = pd.read_csv("archive/bookstore_inventory.csv")
sales3 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/Bookstore Checking Balanced Dataset.csv")
sales4 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/Bookstore Credit Balance Dataset.csv")
#No nos interesa en 5
sales5 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/bookstore_customers_expanded_raw.csv")
sales6 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/bookstore_customers_expanded.csv")
sales7 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/bookstore_customers.csv")
sales8 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/bookstore_employees.csv")
sales9 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/bookstore_loans.csv")
sales10 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/bookstore_payroll.csv")
sales11 = pd.read_csv("archive/bookstore_chain_AB_calgary_2019_2024_dataset/data_dictionary.csv")

In [101]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13152 entries, 0 to 13151
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           13152 non-null  object
 1   year           13152 non-null  int64
 2   month          13152 non-null  int64
 3   store_id       13152 non-null  object
 4   channel        13152 non-null  object
 5   transactions   13152 non-null  int64
 6   revenue        13152 non-null  float64
 7   gst_collected  13152 non-null  float64
 8   net_revenue    13152 non-null  float64
 9   dataset        13152 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 1.0+ MB

In [102]:
sales2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21566 entries, 0 to 21565
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   month            21566 non-null  object
 1   from             21566 non-null  object
 2   to               21566 non-null  object
 3   sku              21566 non-null  object
 4   qty              21566 non-null  int64
 5   unit_cost        21566 non-null  float64
 6   unit_price       21566 non-null  float64
 7   extended_cost    21566 non-null  float64
 8   extended_retail  21566 non-null  float64
 9   dataset          21566 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 1.6+ MB

In [103]:
sales3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             1258 non-null   object
 1   description      1258 non-null   object
 2   deposit          1258 non-null   float64
 3   withdrawal       1258 non-null   float64
 4   account_id       1258 non-null   object
 5   net_change       1258 non-null   float64
 6   rolling_balance  1258 non-null   float64
dtypes: float64(4), object(3)
memory usage: 68.9+ KB

In [104]:
sales4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             978 non-null    object
 1   description      978 non-null    object
 2   charge           978 non-null    float64
 3   payment          978 non-null    float64
 4   card_id          978 non-null    object
 5   net_change       978 non-null    float64
 6   rolling_balance  978 non-null    float64
dtypes: float64(4), object(3)
memory usage: 53.6+ KB

In [105]:
sales5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12966 entries, 0 to 12965
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          12966 non-null  int64
 1   signup_date          11968 non-null  object
 2   home_store           12966 non-null  object
 3   annual_visits        11920 non-null  float64
 4   online_ratio         11912 non-null  float64
 5   ltv_estimate         12966 non-null  float64
 6   first_purchase_date  11931 non-null  object
 7   last_purchase_date   11879 non-null  object
 8   region               12966 non-null  object
 9   loyalty_member       11910 non-null  object
 10  total_purchases      11891 non-null  float64
 11  total_spent          11900 non-null  float64
 12  avg_purchase_value   11943 non-null  float64
 13  visits_2023          11892 non-null  float64
 14  has_escalation       12014 non-null  object
 15  escalation_reason    5608 non-null   object
 16  customer_rating      11670 non-null  float64
dtypes: float64(8), int64(1), object(8)
memory usage: 1.7+ MB

In [106]:
sales6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          12000 non-null  int64
 1   signup_date          12000 non-null  object
 2   home_store           12000 non-null  object
 3   annual_visits        12000 non-null  int64
 4   online_ratio         12000 non-null  float64
 5   ltv_estimate         12000 non-null  float64
 6   first_purchase_date  12000 non-null  object
 7   last_purchase_date   12000 non-null  object
 8   region               12000 non-null  object
 9   loyalty_member       12000 non-null  bool
 10  total_purchases      12000 non-null  int64
 11  total_spent          12000 non-null  float64
 12  avg_purchase_value   12000 non-null  float64
 13  visits_2023          12000 non-null  int64
 14  has_escalation       12000 non-null  bool
 15  escalation_reason    2854 non-null   object
 16  customer_rating      12000 non-null  float64
dtypes: bool(2), float64(5), int64(4), object(6)
memory usage: 1.4+ MB

In [107]:
sales7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    12000 non-null  int64
 1   signup_date    12000 non-null  object
 2   home_store     12000 non-null  object
 3   annual_visits  12000 non-null  int64
 4   online_ratio   12000 non-null  float64
 5   ltv_estimate   12000 non-null  float64
 6   dataset        12000 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 656.4+ KB

In [108]:
sales8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   employee_id      175 non-null    int64
 1   name             175 non-null    object
 2   location         175 non-null    object
 3   role             175 non-null    object
 4   employment_type  175 non-null    object
 5   hourly_rate      175 non-null    float64
 6   hire_date        154 non-null    object
 7   term_date        124 non-null    object
 8   dataset          175 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 12.4+ KB

In [109]:
sales9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   quarter_end            44 non-null     object
 1   loan_name              44 non-null     object
 2   loan_id                44 non-null     object
 3   principal_outstanding  44 non-null     float64
 4   interest_accrued       44 non-null     float64
 5   repayment              44 non-null     float64
 6   dataset                44 non-null     object
dtypes: float64(3), object(4)
memory usage: 2.5+ KB

In [110]:
sales10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6640 entries, 0 to 6639
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pay_period_start     6640 non-null   object
 1   employee_id          6640 non-null   int64
 2   employee_name        6640 non-null   object
 3   location             6640 non-null   object
 4   role                 6640 non-null   object
 5   employment_type      6640 non-null   object
 6   hourly_rate          6640 non-null   float64
 7   hours_biweekly       6640 non-null   float64
 8   gross_pay            6640 non-null   float64
 9   cpp_withheld         6640 non-null   float64
 10  ei_withheld          6640 non-null   float64
 11  income_tax_withheld  6640 non-null   float64
 12  employee_benefits    6640 non-null   float64
 13  net_pay              6640 non-null   float64
 14  dataset              6640 non-null   object
dtypes: float64(8), int64(1), object(6)
memory usage: 778.3+ KB

In [111]:
sales11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   file         57 non-null     object
 1   column       57 non-null     object
 2   description  57 non-null     object
 3   dtype        57 non-null     object
dtypes: object(4)
memory usage: 1.9+ KB

1, 3, 4, 9, 10 y el 11 lo guardo que me da información de tantos datasets

In [112]:
checking = sales3
credit = sales4
loans = sales9
payroll = sales10
data_dictionary = sales11

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [113]:
# Primer dataset
sales.head()

,date,year,month,store_id,channel,transactions,revenue,gst_collected,net_revenue,dataset
0,2019-01-01,2019,1,YYC-DT,IN_STORE,64,1985.46,99.27,1886.19,bookstore_sales
1,2019-01-01,2019,1,YYC-DT,ONLINE,8,207.72,10.39,197.33,bookstore_sales
2,2019-01-01,2019,1,YYC-NW,IN_STORE,49,1466.95,73.35,1393.60,bookstore_sales
3,2019-01-01,2019,1,YYC-NW,ONLINE,4,148.89,7.44,141.45,bookstore_sales
4,2019-01-01,2019,1,YYC-SE,IN_STORE,33,1272.70,63.64,1209.06,bookstore_sales

In [114]:
# Siguiente dataset...
checking.head()

,date,description,deposit,withdrawal,account_id,net_change,rolling_balance
0,2019-01-01,Sales sweep deposit,4726.44,0.00,CHK-001,4726.44,79726.44
1,2019-01-01,Store & warehouse rent,0.00,18500.00,CHK-001,-18500.00,61226.44
2,2019-01-02,Misc operating expense,0.00,486.05,CHK-001,-486.05,60740.39
3,2019-01-03,Payroll,0.00,11758.92,CHK-001,-11758.92,48981.47
4,2019-01-04,Sales sweep deposit,4102.04,0.00,CHK-001,4102.04,53083.51

In [115]:
credit.head()

,date,description,charge,payment,card_id,net_change,rolling_balance
0,2019-01-01,Software subscriptions,768.71,0.0,CC-001,768.71,768.71
1,2019-01-03,E-comm shipping labels,287.53,0.0,CC-001,287.53,1056.24
2,2019-01-07,E-comm shipping labels,188.86,0.0,CC-001,188.86,1245.10
3,2019-01-09,Office & packaging supplies,119.61,0.0,CC-001,119.61,1364.71
4,2019-01-16,Office & packaging supplies,376.30,0.0,CC-001,376.30,1741.01

In [116]:
payroll.head()

,pay_period_start,employee_id,employee_name,location,role,employment_type,hourly_rate,hours_biweekly,gross_pay,cpp_withheld,ei_withheld,income_tax_withheld,employee_benefits,net_pay,dataset
0,2019-11-11,1001,Harper Brown,YYC-DT,Store Manager,PERM,27.49,80.27,2206.62,114.74,35.31,264.79,44.13,1747.65,bookstore_payroll
1,2019-11-25,1001,Harper Brown,YYC-DT,Store Manager,PERM,27.49,76.56,2104.63,109.44,33.67,252.56,42.09,1666.87,bookstore_payroll
2,2019-12-09,1001,Harper Brown,YYC-DT,Store Manager,PERM,27.49,78.97,2170.89,112.89,34.73,260.51,43.42,1719.34,bookstore_payroll
3,2019-12-23,1001,Harper Brown,YYC-DT,Store Manager,PERM,27.49,72.70,1998.52,103.92,31.98,239.82,39.97,1582.83,bookstore_payroll
4,2020-01-06,1001,Harper Brown,YYC-DT,Store Manager,PERM,27.49,50.45,1386.87,72.12,22.19,166.42,27.74,1098.40,bookstore_payroll

In [117]:
loans.head()

,quarter_end,loan_name,loan_id,principal_outstanding,interest_accrued,repayment,dataset
0,2020-03-30,Government Relief Loan,GOVT-CEBA,40000.0,0.0,0.0,bookstore_loans
1,2020-06-30,Government Relief Loan,GOVT-CEBA,40000.0,0.0,0.0,bookstore_loans
2,2020-09-30,Government Relief Loan,GOVT-CEBA,40000.0,0.0,0.0,bookstore_loans
3,2020-12-30,Government Relief Loan,GOVT-CEBA,40000.0,0.0,0.0,bookstore_loans
4,2021-03-30,Government Relief Loan,GOVT-CEBA,40000.0,0.0,0.0,bookstore_loans

In [118]:
data_dictionary.head()

                  file        column                      description   dtype
0  bookstore_sales.csv          date                    Date of sales    date
1  bookstore_sales.csv      store_id  Store identifier (YYC-DT/NW/SE)  string
2  bookstore_sales.csv       channel  Sales channel (IN_STORE/ONLINE)  string
3  bookstore_sales.csv  transactions   Number of transactions (daily)     int
4  bookstore_sales.csv       revenue    Gross revenue incl. GST (CAD)   float